<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Error! 😵</title>
</head>

<body>
  <div class="complete">
    <h1>
      404<br />
      <p id="fail">
        I'm sorry, but the page you are looking for cannot be found. The error
        the server could not locate the requested page or resource. This could
        be due to a number of reasons, such as a mistyped URL, a broken link,
        or the page being moved or deleted. Please check the URL and try
        again. We apologize for any inconvenience this may have caused. If you
        continue to experience this issue or have any further questions,
        please feel free to contact our support team for assistance. Thank you
        for visiting our website.
      </p>
    </h1>
  </div>
</body>

</html>