{{>navbar}}
<div class="box">
  <p>
    "Welcome to my brand new website, where your experience is our top
    priority! Our login and registration pages have been designed with the
    latest backend development techniques NodeJS,Express JS,MongoDB,Mongoose
    to ensure maximum security and user-friendliness. Our advanced
    registration system allows you to create a unique profile, store and
    manage your personal information, and keep track of your activities on
    our site. With our easy-to-use login page, you can access your account
    securely and quickly. We understand the importance of online safety and
    privacy, and we have implemented strong measures to protect your data.
    This is a demo website to learn how any registration or login form work
    in reality. It will give you success massage if you successfully
    registered of login or it will give you a error massage. So go ahead,
    sign up and log in with confidence, and let us provide you with a
    seamless and enjoyable browsing experience!"
  </p>
  <h4>— Saikat Samanta<br />Jalpaiguri Government Engineering College</h4>
</div>
{{>footer}}