<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <title>Document</title>
</head>

<body>
    <navbar>
        <h1><a href="/">Logo</a></h1>
        <div id="links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/secret">Secret</a></li>
                <li><a href="/registration">Registration</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </navbar>