{{>navbar}}
<div class="box">
    <p>
        I am deeply sorry for not telling the secret that I promised to tell. I understand that you trusted me with this
        information and I have failed to honor that trust.Please Dont be offensive on me and Please know that my actions
        are intentional and I take full responsibility for this. I understand that this may have caused you pain or
        discomfort, and for that,
        I apologize from the bottom of my heart. This is a demo page to show how the cookies and authentication work on
        real life. Without authorization you cannot enter the page by any chace. In cookies your login information will
        save for 2 minutes as I set as soon as you login as a form of JWT. verification is done by matching
        token with database and cookie. So you have done a great work and thanks
        for participating in this.
    </p>
    <h4>— Saikat Samanta<br />Jalpaiguri Government Engineering College</h4>
</div>
{{>footer}}