<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Error! 😵</title>
</head>

<body>
  <div class="complete">
    <h1>
      401<br />
      <p id="fail">
        I'm sorry, but you are not authorise to enter this page. Please login
        to authorise yourself. And you can only access this page for two
        miniutes after login. After that you will automatically unathorised.
      </p>
    </h1>
  </div>
</body>

</html>